@model ABMCloud.Models.EmployeeFilterModel


<div class="container">
    <p>To select employees, use the filter</p>
    <div class="form-inline">
        <div class="form-group col-md-2">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter surname" } })
        </div>
        <div class="form-group col-md-2">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter name" } })
        </div>
        <div class="form-group col-md-2">
            @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter patronymic" } })
        </div>
        <div class="form-group w100">
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "datepicker form-control", @placeholder = "Date from", @autocomplete = "off" } })
        </div>
        <div class="form-group w100">
            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "datepicker form-control", @placeholder = "Date to", @autocomplete = "off" } })
        </div>
        <div class="form-group w120">
        </div>


        <button class="btn btn-warning" type="button" onclick="window.location.href = '@Url.Action("EmployeesList", "Employee", new { FilterAction = "resetFilter" })'">
            Reset
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button name="FilterAction" class="btn btn-success" type="submit" value="applyFilter" id="submitButton">
            Confirm
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>