
@model ABMCloud.Models.EmployeeModel



<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Surname</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Patronymic</th>
                <th class="col-md-4">Last date of vacation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.EmployeesList)
            {
            <tr class="clickable-row">
                <td class="col-md-2">@item.Surname</td>
                <td class="col-md-2">@item.Name</td>
                <td class="col-md-2">@item.Patronymic</td>
                <td class="col-md-4">@(item.LastVacationDate.HasValue ? item.LastVacationDate.Value.ToString("dd.MM.yyyy") : "")</td>
                <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="window.location.href = '@Url.Action("EmployeeDetails", "Employee", new { id = item.Id })'">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" onclick="window.location.href = '@Url.Action("AddOrEditEmployee", "Employee", new { id = item.Id })'">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" onclick="window.location.href = '@Url.Action("RemoveEmployee", "Employee", new { id = item.Id })'">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <button type="button" class="btn btn-success pull-right"  onclick="window.location.href = '@Url.Action("AddOrEditEmployee", "Employee")'">
        Add 
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>



