

@model ABMCloud.Models.EmployeeFilterModel

<div class="filters">
    <div class="flx-row">
        @*<div class="columns small-9 small-uncollapse">
            <div class="flx-row">
                <div class="columns small-3">
                    @Html.EnumDropDownListFor(model => model.Status, "---Статус рассылки---", new { @class = "u-select" })
                </div>

                <div class="columns small-2 text-align-right">
                    <label for="" class="u-label">Дата начала с:</label>
                </div>
                <div class="columns small-2">
                    @Html.EditorFor(model => model.StartDateFrom, new { htmlAttributes = new { @class = "datepicker u-input", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.StartDateFrom)
                </div>
                <div class="columns small-3 text-align-right">
                    <label for="" class="u-label">Дата окончания с:</label>
                </div>
                <div class="columns small-2">
                    @Html.EditorFor(model => model.EndDateFrom, new { htmlAttributes = new { @class = "datepicker u-input", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.EndDateFrom)
                </div>
            </div>

        </div>
        <div class="columns small-9">
            <div class="flx-row">
                <div class="columns small-3">
                    @Html.TextBoxFor(model => model.InnerName, new { @class = "u-input", @placeholder = "Название рассылкки" })
                </div>
                <div class="columns small-2 text-align-right">
                    <label for="" class="u-label">Дата начала по:</label>
                </div>
                <div class="columns small-2">
                    @Html.EditorFor(model => model.StartDateTo, new { htmlAttributes = new { @class = "datepicker u-input", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.StartDateFrom)
                </div>
                <div class="columns small-3 text-align-right">
                    <label for="" class="u-label">Дата окончания по:</label>
                </div>
                <div class="columns small-2">
                    @Html.EditorFor(model => model.EndDateTo, new { htmlAttributes = new { @class = "datepicker u-input", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.StartDateFrom)
                </div>
            </div>
        </div>*@
        <div class="columns small-3 text-align-right">
            <button class="u-btn secondary" type="button" onclick="window.location.href = '@Url.Action("CrossSalesList", "CrossSale", new { FilterAction = "resetFilter" })'">Очистить</button>
            <button name="FilterAction" class="u-btn primary" type="submit" value="applyFilter" id="submitButton">Применить</button>
        </div>
    </div>
</div>